<div class="layui-card">
    <div class="layui-card-header">
        <h1>{$data.title}</h1>
    </div>
    <div class="layui-card-body">
        {$data.article|raw}
    </div>
</div>

<div class="commentList">
    <fieldset class="layui-elem-field">
        <legend>评论列表</legend>
        {foreach $comment as $commentKey => $commentValue}
        <div class="layui-card commentContent">
            <div class="layui-card-header">
                <a>{$commentValue.nickname}</a> 
                <p style="display: inline-block;">{$commentValue.create_time}</p>
                <p style="display: inline-block;">第{$commentKey+1}楼</p>
            </div>
            <div class="layui-card-body">
                <p style="display: block;">{$commentValue.comment}</p>
                <button data-replyId={$commentValue.id}>回复</button>
            </div>
        </div>
        {/foreach}
    </fieldset>
</div>

<div class="commentAdd">
    <fieldset class="layui-elem-field">
        <legend>评论</legend>
        <form class="layui-form" id="commentForm">
            <div class="layui-card">
                <div class="layui-card-body">
                    <textarea name="comment" class="layui-textarea" lay-verify="required"></textarea>
                </div>
                <div class="layui-card-body">
                    <input name='nickname' class="layui-input nickInput" placeholder="输入昵称" required lay-verify="required">
                    <input type="hidden" name="articleId" value='{$data.id}'>
                    <button class="layui-btn commentButton" lay-submit lay-filter="commentSubmit">发布评论</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>

<script>
    // 按需加载css 
    layui.link('/static/css/showArticleInfo.css');
    layui.use(['form','layer'],function(){
        var form = layui.form;
        var layer = layui.layer;
        form.render();

        form.on('submit(commentSubmit)',function(obj){
            // console.log(obj);
            var formData = obj.field;
            $.ajax({
                url:"{:url('Article/commentAdd')}",
                type:'post',
                data:formData,
                dataType:'json',
                success:function(successData){
                    var msg = '留言没能成功留下 ┭┮﹏┭┮';
                    var iconCode = 5;
                    if(successData == true){
                        msg = '感谢留下您的留言 (#^.^#)'
                        iconCode = 6;
                        console.log($('#commentForm'));
                        $('#commentForm')[0].reset();
                        form.render();
                    }
                    layer.msg(msg,{
                        icon:iconCode
                    });
                }
            });
            return false;
        })
    });
</script>