<div class="layui-card">
    <div class="layui-card-header">
        <h1>{$data.title}</h1>
    </div>
    <div class="layui-card-body" id="editormd-view">
        <textarea style="display:none;" name="test-editormd-markdown-doc">{$data.article|raw}</textarea>
    </div>
</div>

<div class="commentAdd">
    <fieldset class="layui-elem-field">
        <legend>评论</legend>
        <form class="layui-form" id="commentForm" lay-filter="commentForm">
            <div class="layui-card">
                <div class="layui-card-body">
                    <textarea name="comment" class="layui-textarea" lay-verify="required"></textarea>
                </div>
                <div class="layui-card-body">
                    <input name='nickname' class="layui-input nickInput" placeholder="输入昵称" required lay-verify="required">
                    <input type="hidden" name="articleId" value='{$data.id}'>
                    <button class="layui-btn commentButton" lay-submit lay-filter="commentSubmit">发布评论</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>

<div class="commentList">
    <fieldset class="layui-elem-field">
        <legend>评论列表</legend>
        <div id='commentView'>
        </div>
    </fieldset>
</div>

{load href="/lib/editormd/editormd.js"/}
{load href="/lib/editormd/lib/marked.min.js"/}
{load href="/lib/editormd/lib/prettify.min.js"/}
{load href="/lib/editormd/lib/raphael.min.js"/}
{load href="/lib/editormd/lib/underscore.min.js"/}
{load href="/lib/editormd/lib/sequence-diagram.min.js"/}
{load href="/lib/editormd/lib/flowchart.min.js"/}
{load href="/lib/editormd/lib/jquery.flowchart.min.js"/}

<script>
    // 按需加载css 
    layui.link('/lib/editormd/css/editormd.preview.css');
    layui.link('/static/css/showArticleInfo.css');

    var editormdView;

    $(function () {
        editormdView = editormd.markdownToHTML("editormd-view", {
            htmlDecode: true,       // 开启 HTML 标签解析，为了安全性，默认不开启
            toc             : true,
            tocDropdown     : true,
            markdownSourceCode : false, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
            emoji           : true,
            tex             : true,  // 默认不解析
            flowChart       : true,
            sequenceDiagram : true,
            taskList        : true,
        });
    })

    layui.use(['form','layer','laytpl'],function(){
        var form = layui.form;
        var layer = layui.layer;
        var laytpl = layui.laytpl;
        form.render();

        /**
        * 获取评论
        */
        function getComment(){ 
            $.ajax({
                url:"{:url('Article/getComment',['articleId'=>$data.id])}",
                type:'get',
                dataType:'json',
                success:function(successData){
                    var getTpl = commentViewTpl.innerHTML;
                    var view = document.getElementById('commentView');
                    laytpl(getTpl).render(successData, function(html){
                        view.innerHTML = html;
                    });

                    if(successData['list'].length >= 8){
                        if(!$('#commentView').hasClass('comment-scroll')){
                            $('#commentView').addClass('comment-scroll');
                        }
                    }else{
                        if($('#commentView').hasClass('comment-scroll')){
                            $('#commentView').removeClass('comment-scroll');
                        }
                    }
                }
            });
        }

        getComment();

        form.on('submit(commentSubmit)',function(obj){
            // console.log(obj);
            var formData = obj.field;
            $.ajax({
                url:"{:url('Article/commentAdd')}",
                type:'post',
                data:formData,
                dataType:'json',
                success:function(successData){
                    var msg = '留言没能成功留下 ┭┮﹏┭┮';
                    var iconCode = 5;
                    if(successData == true){
                        msg = '感谢留下您的留言 (#^.^#)'
                        iconCode = 6;
                        $('#commentForm')[0].reset();
                        form.render();
                    }
                    layer.msg(msg,{
                        icon:iconCode
                    });

                    getComment();
                    $('.commentList').animate({scrollTop: $('textarea[name="comment"]').offset().top() + 1000 });
                }
            });
            return false;
        })


        $(document).on('click','button[data-reply_id]',function(){
            var nicknameValue = $(this).parent().prev().find('a').text();

            var commentValue = '回复@'+nicknameValue+' :';
            form.val('commentForm',{
                'comment':commentValue
            })
            $('html,body').animate({scrollTop: $('textarea[name="comment"]').offset().top-200});
        });
    });
</script>

<script id="commentViewTpl" type="text/html">
    
    {{#  layui.each(d.list, function(index, item){ }}
    <div class="layui-card commentContent">
        <div class="layui-card-header">
            <a>{{ item.nickname }}</a> 
            <p style="display: inline-block;">{{ item.create_time }}</p>
            <p style="display: inline-block;">第{{ index + 1 }}楼</p>
        </div>
        <div class="layui-card-body">
            <p style="display: block;">{{ item.comment }}</p>
            <button data-reply_id={{ item.id }}>回复</button>
        </div>
    </div>
    {{#  }); }}
    {{#  if(d.list.length === 0){ }}
    <div class="layui-card commentContent">
        <div class="layui-card-body">
            <p style="display: block;">快来留下你的评论吧</p>
        </div>
    </div>
    {{#  } }} 
</script>