.layui-card {
    background-color: #ffffff22;
}

h1{
    text-align: center;
}

.layui-card-body p{
    /* text-indent: 2em; */
    font-size: 18px;
}

.layui-card-body p{
    margin: 10px 0;
}

.layui-card-body .layui-textarea{
    background-color: #ffffff22;
}

.layui-card-body .layui-input{
    background-color: #ffffff22;
}

.nickInput{
    display: inline-block;
    width: 20em;
}

.commentButton{
    position: relative;
    float: right;
}

.commentContent{
    width: calc(100% - 30px);
    margin: 15px;
}

.layui-card.commentContent{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.38);
}

.layui-card:last-child {
    margin-bottom: 15px;
}

.comment-scroll{
    height: 1000px;
    margin: 10px;
    overflow: auto;
}

.editormd-preview-container, .editormd-html-preview{
    background: #ffffff22;
}